<tool id="tesseract" name="Tesseract OCR" version="0.0.1">
  <description>
      Apply tesseract OCR to entire video.
  </description>
  <command interpreter="python3">test.py $input $output</command>
  <inputs>
      <param name="input" type="data" format="json" label="MMIF"/>
  </inputs>
  <outputs>
    <data name="output" format="json" label="OCR"/>
  </outputs>
  <help>
      sample ratio: 60 frames
  </help>
</tool>
