<tool id="EAST" name="East Text Detection" version="0.0.1">
  <description>
      Detect scene text with EAST.
  </description>
  <command interpreter="python3">test.py $input $output</command>
  <inputs>
      <param name="input" type="data" format="json" label="MMIF"/>
  </inputs>
  <outputs>
    <data name="output" format="json" label="EAST"/>
  </outputs>
  <help>
      sample ratio: 60 frames
  </help>
</tool>
