<tool id="slatesTR" name="Slate Text Recognition" version="0.0.1">
  <description>
    Apply tesseract OCR to slate frames.
  </description>
  <command interpreter="python3">test.py $input $output</command>
  <inputs>
      <param name="input" type="data" format="json" label="MMIF"/>
  </inputs>
  <outputs>
    <data name="output" format="json" label="Slate Text"/>
  </outputs>
  <help>
      Slate Text Recognition
  </help>
</tool>
